
  .category {
    background-color: #1A1F25;
    padding-bottom: 300px;
    text-align: center;
    font-family: "Helvetica Neue";

    &__title {
      font-size: 35px;
      font-weight: 300;
      color: #eaeffa;
      padding-top: 50px;
    }
  }