

  .blog {
    text-align: center;
    background: url("../../img/13e3b8a33eb0648c3ae4a07e21657328 1.png")center top no-repeat;
    width: 1440px;
    height: 100vh;
    background-size: cover;
    margin-bottom: 100px;

    &__title {
        font-size: 55px;
        font-family: "Helvetica Neue";
        font-weight: 200;
        margin-bottom: 50px;
        padding-top: 200px;
    }
  }